
  <!-- ==================== Start clients ==================== -->

  <section class="clients-carso section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
          <div class="sec-head text-center mb-80">
            <h3>Temos o orgulho de ter apoio <br> das <span class="opacity-7">seguintes empresas.</span></h3>
          </div>
        </div>
      </div>
      <div class="swiper5" data-carousel="swiper" data-items="5" data-loop="true" data-space="40">
        <div id="content-carousel-container-unq-clients" class="swiper-container" data-swiper="container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="item">
                <div class="img icon-img-100">
                  <img src="/imgs/brands/c1.svg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <div class="img icon-img-100">
                  <img src="/imgs/brands/c2.svg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <div class="img icon-img-100">
                  <img src="/imgs/brands/c3.svg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <div class="img icon-img-100">
                  <img src="/imgs/brands/c4.svg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <div class="img icon-img-100">
                  <img src="/imgs/brands/c5.png" alt="" style="filter: brightness(10.5);">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <div class="img icon-img-100">
                  <img src="/imgs/brands/c6.svg" alt="">
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="sec-bottom mt-100">
        <div class="main-bg d-flex align-items-center">
          <h6 class="fz-14 fw-400">Possuimos a <span class="fw-600"> força</span> para fazer a diferença</h6>
        </div>
      </div>
    </div>
  </section>

  <!-- ==================== End clients ==================== -->