  <!-- ==================== Start Footer ==================== -->

  <footer class="clean-footer k-bg crev">
    <div class="container pb-40 pt-40 ontop">
      <div class="row justify-content-between">
        <div class="col-lg-2">
          <div class="logo icon-img-100 md-mb80">
            <img src="/imgs/logo-colorfull.png" alt="" style="filter: brightness(10.5);">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="column md-mb50">
            <h6 class="sub-title mb-30">Contato</h6>
            <h6 class="p-color fw-400">R. Pres. Arthur Costa e Silva, 632 - <br>  Hospitalidade, Santana - AP</h6>
            <h6 class="mt-30 mb-15"><a href="#0">contato@kaciq.com</a></h6>
            <a href="tel:+5596981243034" class="underline">
              <span class="fz-22 main-color">+55 (96) 98124-3034</span>
            </a>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="column md-mb50">
            <h6 class="sub-title mb-30">Confira tambem</h6>
            <ul class="rest fz-14 opacity-7">
              <li class="mb-15">
                <a href="/about">Sobre nós</a>
              </li>
              <li class="mb-15">
                <a href="/">Produtos</a>
              </li>
              <li>
                <a href="/contact">Contato</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="column subscribe-minimal">
            <!-- <h6 class="sub-title mb-30">Receber Novidades</h6>
            <div class="form-group mb-40">
              <input type="text" name="subscrib" placeholder="Seu Email">
              <button><span class="ti-location-arrow"></span></button>
            </div> -->
            <ul class="rest social-icon d-flex align-items-center">
              <li class="">
                <a href="https://www.linkedin.com/company/kaciq/?viewAsMember=true" class="hover-anim">
                 <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class=" ml-10">
                <a href="https://www.instagram.com/kaciq.sa/" class="hover-anim">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pt-30 pb-30 mt-80 bord-thin-top">
        <div class="text-center">
          <p class="fz-14">Kaciq © 2024 
          </p>
        </div>
      </div>
    </div>
    <div class="circle-blur">
      <img src="/imgs/patterns/blur1.png" alt="">
    </div>
  </footer>

  <!-- ==================== End Footer ==================== -->