  <!-- ==================== Start Marquee ==================== -->

  <section class="call-marq section-padding  pt-0 o-hidden">
    <div class="main-marq lrg sub-bg pt-20 pb-20">
      <div class="slide-har st1">
        <div class="box">
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
        </div>
        <div class="box">
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Get In Touch</span>
              <span class="icon-img-50 ml-40">
                <img src="/imgs/star.png" alt="">
              </span>
            </h4>
          </div>
        </div>
        <a href="/contact" class="overlay-link"></a>
      </div>
    </div>
    <div class="main-marq bord-item">
      <div class="slide-har st2">
        <div class="box">
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
        </div>
        <div class="box">
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
          <div class="item">
            <h4 class="d-flex align-items-center"><span>Contato</span>
            </h4>
          </div>
        </div>
        <a href="/contact" class="overlay-link"></a>
      </div>
    </div>
  </section>

  <!-- ==================== End Marquee ==================== -->
