<main class="main-bg o-hidden">

  <!-- ==================== Start Header ==================== -->
<div class="bg-img header-four-images" data-background="/imgs/background/bg1.jpg" data-overlay-light="0">

  <div class="corner-top-left"></div>
  <div class="corner-top-right"></div>
  <div class="corner-bottom-left"></div>
  <div class="corner-bottom-right"></div>


  <header class=" bg-img section-padding valign" >
    <div class="container pt-80">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h1 class="text-u ls1 fz-80 k-color">Sobre a <span class="fw-200 main-color">Kaciq</span></h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- ==================== End Header ==================== -->



  <!-- ==================== Start intro ==================== -->

  <section class="page-intro section-padding pb-0">
    <div class="container">
      <div class="row md-marg">
        <div class="col-lg-6">
          <div class="img md-mb80">
            <div class="row">
              <div class="col-6">
                <img src="/imgs/intro/i1.jpg" alt="">
                <div class="img-icon">
                  <img src="/imgs/arw3.png" alt="">
                </div>
              </div>
              <div class="col-6 mt-40">
                <img src="/imgs/intro/i2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 valign">
          <div class="cont">
            <h3 class="mb-30 k-color">A Kaciq é uma startup <span class="fw-200">amazônica</span> que transforma a <span class="fw-200">gestão</span> com tecnologia de ponta.</h3>

            <p class="k-color">Nossas soluções simplificam e otimizam a gestão condominial com inteligência artificial e automação, criando uma experiência prática, segura e eficiente para síndicos e moradores.</p>
            <a href="#" class="underline main-color mt-40">
              <span class="text">Nossos produtos <i class="ti-arrow-top-right"></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ==================== End intro ==================== -->



  <!-- ==================== Start Numbers ==================== -->

  <section class="numbers-crev section-padding o-hidden">
    <div class="container" >
      <div class="row lg-marg justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="item text-center md-mb50">
            <div class="o-hidden">
              <h3 class="k-color">100%</h3>
            </div>
            <h6 class="k-color sub-title">Satisfação dos Clientes</h6>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="item text-center md-mb50">
            <div class="o-hidden">
              <h3 class="k-color">6700</h3>
            </div>
            <h6 class="k-color sub-title">Condomínios Atendidos</h6>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="item text-center">
            <div class="o-hidden">
              <h3 class="k-color">34 +</h3>
            </div>
            <h6 class="k-color sub-title">Reconhecimentos por Inovação</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ==================== End Numbers ==================== -->
</div>


  <!-- ==================== Start Services ==================== -->

  <section class="work-card section-padding pb-0">
    <div class="container" >
      <div class="sec-head mb-80">
        <div class="d-flex align-items-center">
          <div>
            <span class="sub-title main-color mb-5">Nossa Especialidade</span>
            <h3 class="fw-600 fz-50 text-u d-rotate wow">
              <span class="rotate-text">Produtos <span class="fw-200">
                  em Destaque.</span></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="card-item sub-bg">
          <div class="row">
            <div class="col-lg-5">
              <div class="cont">
                <div>
                  <div class="mb-15 k-color">
                    <a href="#" class="tag">Documentos</a>
                    <a href="#" class="tag">Assinaturas</a>
                  </div>
                  <h4 class="main-color">Kvox: Comunicação Simples e Eficiente</h4>
                </div>
                <div>
                  <p class="k-color">Facilitamos o contato entre cidadãos e prefeitura, permitindo notificar problemas urbanos e acompanhar soluções de forma rápida e prática.</p>
                  <a href="/" class="underline mt-15">
                    <span class="text main-color sub-title">Ver detalhes <i class="ti-arrow-top-right"></i></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="img">
                <img src="/imgs/works/1/5.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="card-item sub-bg">
          <div class="row">
            <div class="col-lg-5">
              <div class="cont">
                <div>
                  <div class="mb-15 k-color">
                    <a href="#" class="tag">Documentos</a>
                    <a href="#" class="tag">Prefeituras</a>
                  </div>
                  <h4 class="main-color">Kdoc</h4>
                </div>
                <div>
                  <p class="k-color">Controle a gestão e processos para prefeituras e economize tempo e dinheiro.</p>
                  <a href="/" class="underline mt-15">
                    <span class="text main-color sub-title">Ver detalhes <i class="ti-arrow-top-right"></i></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="img">
                <img src="/imgs/works/1/2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="card-item sub-bg">
          <div class="row">
            <div class="col-lg-5">
              <div class="cont">
                <div>
                  <div class="mb-15 k-color">
                    <a href="#" class="tag">Condomínios</a>
                    <a href="#" class="tag">Gestão</a>
                  </div>
                  <h4 class="main-color">Kdomus</h4>
                </div>
                <div>
                  <p class="k-color">Tenha a gestão completa de seu condomínio, com automação de processos e mais.</p>
                  <a href="/" class="underline mt-15">
                    <span class="text main-color sub-title">Ver detalhes <i class="ti-arrow-top-right"></i></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="img">
                <img src="/imgs/works/1/3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- ==================== End Services ==================== -->



  <!-- ==================== Start Team ==================== -->
<div class="header-four-images">
  <div class="corner-top-left2" style="z-index: 1;"></div>
  <div class="stroke-top-left2" style="z-index: 1;"></div>
    <div class="corner-top-right2" style="z-index: 1;"></div>
    <div class="corner-bottom-left2" style="z-index: 1;"></div>
    <div class="corner-bottom-right2" style="z-index: 1;"></div>


  <section class="team-crev2 section-padding pb-90 bg-img " data-background="/imgs/background/bg1.jpg" data-overlay-light="0">

   

    <div class="container">
      <div class="sec-head mb-80">
        <div class="d-flex align-items-center">
          <div>
            <span class="sub-title k-color mb-5">Conheça a</span>
            <h3 class="fw-600 fz-50 text-u d-rotate wow">
              <span class="rotate-text"><span class="main-color">Nossa</span> <span class="fw-200 k-color">
                  equipe.</span></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="row md-marg">
        <div class="col-lg-3 col-md-6">
          <div class="item mb-50">
            <div class="bg-blur">
              <div class="img">
                <img src="/imgs/team/t1.png" alt="">
                <div class="social">
                  <div class="links">
                    <a href="#0">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="circle-blur">
                <img src="/imgs/patterns/blur1.png" alt="">
              </div>
            </div>
            <div class="cont pt-30">
              <div class="info">
                <h6 class="k-color">Raul Alves</h6>
                <span class="fz-14 p-function mt-10">CEO</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="item mb-50">
            <div class="bg-blur">
              <div class="img">
                <img src="/imgs/team/t3.png" alt="">
                <div class="social">
                  <div class="links">
                    <a href="#0">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="circle-blur">
                <img src="/imgs/patterns/blur1.png" alt="">
              </div>
            </div>
            <div class="cont pt-30">
              <div class="info">
                <h6 class="k-color">Gabriela Rocha</h6>
                <span class="fz-14 p-function mt-10">CTO</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="item mb-50">
            <div class="bg-blur">
              <div class="img">
                <img src="/imgs/team/t2.png" alt="">
                <div class="social">
                  <div class="links">
                    <a href="#0">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="circle-blur">
                <img src="/imgs/patterns/blur1.png" alt="">
              </div>
            </div>
            <div class="cont pt-30">
              <div class="info">
                <h6 class="k-color">Erika Bezerra</h6>
                <span class="fz-14 p-function mt-10">CFO</span>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6">
          <div class="item mb-50">
            <div class="bg-blur">
              <div class="img">
                <img src="/imgs/team/t1.png" alt="">
                <div class="social">
                  <div class="links">
                    <a href="#0">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="circle-blur">
                <img src="/imgs/patterns/blur1.png" alt="">
              </div>
            </div>
            <div class="cont pt-30">
              <div class="info">
                <h6 class="k-color">Nome Sobrenome</h6>
                <span class="fz-14 p-function mt-10">Função</span>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-lg-3 col-md-6">
          <div class="item mb-50">
            <div class="bg-blur">
              <div class="img">
                <img src="/imgs/team/t1.png" alt="">
                <div class="social">
                  <div class="links">
                    <a href="#0">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#0">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="circle-blur">
                <img src="/imgs/patterns/blur1.png" alt="">
              </div>
            </div>
            <div class="cont pt-30">
              <div class="info">
                <h6 class="k-color">Nome Sobrenome</h6>
                <span class="fz-14 p-function mt-10">Função</span>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>

  <!-- ==================== End Team ==================== -->


  <%- include('../partials/clients') %>


</main>