<main class="main-bg o-hidden">



  <!-- ==================== Start Header ==================== -->

  <div class="bg-img header-four-images" data-background="/imgs/background/bg1.jpg" data-overlay-light="0">

    <div class="corner-top-left"></div>
    <div class="corner-top-right"></div>
    <div class="corner-bottom-left"></div>
    <div class="corner-bottom-right"></div>

  <header class=" section-padding valign">
    <div class="container pt-80">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h1 class="text-u ls1 fz-80 k-color">Entre em <span class="fw-200 main-color"> Contato</span></h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- ==================== End Header ==================== -->



  <!-- ==================== Start Contact ==================== -->

  <section class="contact section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 valign">
          <div class="sec-head info-box full-width md-mb80">
            <div class="phone fz-30 fw-600 underline main-color">
              <a href="tel:+5596981243034">+55 (96) 98124-3034</a>
            </div>
            <div class="morinfo mt-50 pb-30 bord-thin-bottom">
              <h6 class="mb-15 k-color">Endereço</h6>
              <p class="main-color">R. Pres. Arthur Costa e Silva, 632 - Hospitalidade, Santana - AP</p>
            </div>
            <div class="morinfo mt-30 pb-30 bord-thin-bottom">
              <h6 class="mb-15 k-color">Email</h6>
              <p class="main-color">contato@kaciq.com</p>
            </div>

            <div class="social-icon mt-50 k-color">
              <a href="https://www.linkedin.com/company/kaciq/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://www.instagram.com/kaciq.sa/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://wa.me/5596981243034" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 offset-lg-1 valign">
          <div class="full-width">
            <div class="sec-head mb-50">
              <h6 class="sub-title k-color mb-15">Vamos conversar</h6>
              <h3 class="text-u ls1 main-color">Envie uma <span class="fw-200 k-color">mensagem</span></h3>
            </div>
            <form id="contact-form" class="form2" method="post" action="/">

              <div class="messages"></div>

              <div class="controls row">

                <div class="col-lg-6">
                  <div class="form-group mb-30">
                    <input id="form_name" type="text" name="name" placeholder="Nome" required="required">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group mb-30">
                    <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group mb-30">
                    <input id="form_subject" type="text" name="subject" placeholder="Assunto">
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <textarea id="form_message" name="message" placeholder="Mensagem" rows="4" required="required"></textarea>
                  </div>
                  <div class="mt-30">
                    <button type="submit" class="butn butn-full k-butn-bord radius-30">
                      <span class="text">Enviar</span>
                    </button>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ==================== End Contact ==================== -->

</div>

  <!-- ==================== Start google-map ==================== -->

  <div class="google-map">
    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Villa+Coworking+Santana+Amapá&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">
    </iframe>
  </div>

  <!-- ==================== End google-map ==================== -->



</main>